################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/template-sfml2.5.1-win-ping-pong
/x64
/x86
/export/template-sfml2.5.1-win-ping-pong.zip
